
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
    
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: #FBB915;

}

header{
    background-color: #FFE600;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 1200px;
    gap: 500px;
    padding-left: 20px;
    
    margin-left: 140px;
    z-index: 2;
}

header a{
    margin: 6px;
}





footer{
    align-items:end;
    margin-left: 20px;
    margin-top: 20px;
}

.sproductos{
    background-color: #EE3124;
    width: 1110px;
    margin-top: 150px;
    margin-left: 140px;
    padding: 10px;
    align-content: baseline;
    padding-left: 100px;
    z-index: 1;
    
}

.donde{
    
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 700px;
    margin-left: 30px;
    margin-top: 80px;
    float: left;
    justify-items: center;
    justify-self: center;
    





}

.tdc{
        text-align: center;
        position: relative;
        top: 80px;
        color: white;
        font-size: 50px;
        text-decoration: underline;

}

.iframe{
    border-width: 5px;
    border-style: dashed;
}

.clasica{
    background-color: #FEE411;
    width: 300px;
    height: 480px;
    padding: 20px;
}

#inicio{
    font-size: 80px;
    color: white;
    text-align: center;
    margin-right: 10px;
}

.morado{
    background-color: #91308D;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.negro{
    background-color: #3E3D3B;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.verde{
    background-color: #01A25C;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.naranja{
    background-color: #DF672A;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.rojo{
    background-color: #E62927;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.rojoos{
    background-color: #CF3223;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.celeste{
    background-color: #009FD6;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.amarillocl{
    background-color: #FBD35A;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.rojovi{
    background-color: #7D0E05;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.dorado{
    background-color: #F2BB20;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.rosado{
    background-color: #D23641;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.lima{
    background-color: #BAD232;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.verdeos{
    background-color: #B7AE15;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.fuego{
    background-color: #EA2A27;
    width: 300px;
    height: 480px;
    padding: 20px;
}

.bsubir{
    position: fixed;
    background-color: #DA291C;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 600px;
    margin-left: 1300px;
    top: 30px;
}




h3{
    background-color: #DA291C;
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.b1{
    display: flex;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.b2{
    display: flex;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.b3{
    display: flex;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.b4{
    display: flex;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.b5{
    display: flex;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0;
}

.logo{
    align-self: left;
    width: 100px;
}

.logof{
    width: 170px;
    margin-left: 350px;
}

img{

    width: 300px;

}

.banner{
    width: 1169px;
    margin-top: 150px;
    margin-left: 165px;
}

a.ah{
    text-decoration: none;
    color: black;
    
}

a{
    color: white;
    text-decoration: none;
}

.imprimir{
    color: red;
}

footer a{
    margin: 2px;
}

a:hover{
    color:white;
}



/* cel */
@media(max-width: 320px){
    .b1{
        
        flex-direction: column;
    }

    .b2{
        
        flex-direction: column;
    }

    .b3{
        
        flex-direction: column;
    }

    .b4{
        
        flex-direction: column;
    }

    .b5{
        
        flex-direction: column;
    }

    section{
        width: 440px;
        
    }

    header{
        width: 530px;
        gap: 0;
    }

    .banner{
        width: 550px;
        position: relative;
        right: 25px;
    }

    .bsubir{
        margin-left: 580px;
        width: 100px;
        background-color: rgb(133, 27, 27);
        top: 500px;
        z-index: 2;
    }

}

.acerca{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 700px;
    margin-left: 30px;
    margin-top: 150px;
    position: relative;
    bottom: 30px;
    height: 440px;
}

.flays{
    float: right;
    margin-top: 80px;
    width: 600px;
    margin-right: 30px;
}

.participa{
    text-align: center;
}

.tparticipa{

    color: white;
    text-decoration: underline;
    font-size: 50px;
    
}





form{
    
    background-color: #fff3b0; 
    border: 2px solid #f4c430; 
    padding: 20px;
    max-width: 650px;
    float: right;
    margin-top: 230px;
    margin-right: 10px;
}


.formh{
    color: #d4a017; 
    margin-bottom: 15px;
}


input[type="text"] {
    width: 22%;
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #f4c430;
    background-color: #fffbe6;
}


input[type="button"] {
    padding: 8px 14px;
    background-color: #f4c430;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


input[type="button"]:hover {
    background-color: #ffd700;
}


.cancel{
    display: inline-block;
    margin-top: 10px;
    color: #d4a017;
    font-weight: bold;
    text-decoration: none;
}

.cancel:hover {
    text-decoration: underline;
}



    
